@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
	font-family: 'Roboto', serif;
	background-color: lightcyan;
	margin: 0;
}

/* Website Links except the nav */
a:link{
	color: lightblue;
}

a:visited{
	color: lightblue;
}

a:hover{
	color: darkblue;
}

a:active{
	color: darkblue;
}

header{
	text-align: center;
	background-color: lightblue;
}

header img{
	max-height: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav{
	background-color: darkcyan;
	font-size: 25px;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
}

/* Navigation */
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 8px 0;
	padding: 0;
}

nav li{
	display: inline;
	padding: 5px;
}

nav a{
	text-decoration: none;
}

nav a:link{
	color: white;
}

nav a:visited{
	color: white;
}

nav a:hover{
	color: red;
}

nav a:active{
	color: red;
}

/* Main*/
main{
	max-width: 1000px;
	margin: 20px auto;
	padding: 10px;
}

/* Footer */
footer{
	background-color: darkcyan;
	color: lightblue;
	border-top: purple 3px solid;
	text-align: center;
}

footer .container-fluid{
	padding-top: 10px;
	margin-bottom: 10px;
}

footer .fa{
	font-size: 4em;
}

.footer-bottom{
	background-color: darkslateblue;
}

h1, h2, h3{
	font-family: 'Montserrat', serif;
}

canvas{
	border: 5px solid #d3d3d3;
	background-image: url(images/sky-background.jpg);
	background-size: cover;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 10px;
	display: block;
}

.game-controls{
	text-align: center;
}

.myButton{
	margin-right: 30px;
	padding: 10px;
	border-radius: 30%;
	background-color: pink;
	border: 5px solid purple;
}

.fany-1{
	font-size: 3em;
	color: blue;
	border-bottom: 2px solid darkcyan;
	margin-top: 0;
	margin-bottom: 0;
}

.fany-2{
	font-size: 2em;
	color: green;
	border-left: 1px solid lightsalmon;
	border-bottom: 1.5px solid lightsalmon;
	padding-left: 10px;
}

.fany-3{
	font-size: 2em;
	color: orange;
	border-left: 1.5px solid red;
	border-bottom: 2px solid red;
	padding-left: 10px;
}

.fany-4{
	font-size: 1.5em;
	color: blue;
	margin-bottom: 0;
}

.home-hero{
	background-image: url(images/mountain.png);
	background-size: cover;
	background-position: 50% 50%;
	height: 350px;
}

.home-hero h1{
	font-family: 'Caveat', cursive;
	font-size: calc(18vw 0.5ren);
	color: darkblue;
	font-size: 90px;
	text-align: center;
	padding: 100px 0;
	margin: 0;
}

.home-photo{
	border: 5px solid rosybrown;
	height: auto;
	margin-top: 100px;
}

.text-box{
	height: auto;
	font-size: 0.5em;
	text-align: center;
	border: 1.5px solid black;
	background-color: lightblue;
	margin-top: 20px;
}

.fa{
	display: block;
	font-size: 5em;
	color: gold;
}

.center{
	text-align: center;
}

.button:link{
	background-color: darkblue;
	color: white;
	border-radius: 50px;
	border: 1px solid darkblue;
	padding: 8px 15px;
	margin: 0 auto;
}

.button:hover{
	background-color: darkcyan;
	text-decoration: none;
}

.resume{
	background-color: lightskyblue;
	border: 2px solid black;
	box-shadow: 10px 10px 10px;
}

.resume h1{
	margin-right: 50px;
}

.resume h2{
	margin-right: 100px;
}

.resume h3{
	margin-right: 150px;
}

.resume p{
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 300px;
}

.distance{
	margin-left: 25px;
}

.bug-fix{
	margin-bottom: 15px;
}

.special:link{
	background-color: gold;
	color: white;
	border-radius: 50px;
	border: 1px solid darkblue;
	padding: 8px 15px;
	margin-left: 25px;
}

.special:hover{
	background-color: yellow;
	text-decoration: none;
}

.img-alt img{
	margin-bottom: 100px;
	border: 5px solid rosybrown;
	box-shadow: 10px 10px 10px;
}

.lazy h1{
	text-align: center;
	color: blue;
}

.lazy p{
	text-align: center;
}


/* JavaScript Game changes for mobile */
.mobile{
	display:none;
}

/*CSS without a media query--applies to all sizes unless overridden*/
h1{
	font-size: 4em;
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}

	img{
		display: block;
		margin: 0 auto;
	}

	var canvasWidth = 640;
	var canvasHeight = 360;
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}

	img{
		display: block;
		margin: 0 auto;
	}

	canvasWidth = 300;
	canvasHeight= 300;

	.desktop{
		display:none;
	}
	
	.mobile{
		display: block;
		touch-action: manipulation;
	}
}